.box {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  .ctx {
    border-radius: 0.5rem;
    background-color: white;
    width: 25rem;
    height: 20rem;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      text-align: center;
      padding: 3rem 0 0.5rem 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .input {
      width: 20rem;
      padding: 1rem 2rem 1.5rem 2rem;
      height: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .btn {
      width: 20rem;
      background-color: #1e65e9;
      color: white;
    }
  }
}
